/**
 * sass/objects/text/letter-spacing.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.01.21)
 * @copyright 2024 (2024.01.21)
**/

// LETTER-SPACING
    $letter-spacing-condensed: -1px;
    $letter-spacing-normal: 0px;
    $letter-spacing-expanded: 1px;